main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 15vh;
}

.Img {
    height: 35vh;
    width: 18vw;
}

strong {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.bordaImagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    border: 2px solid black;
    border-radius: 5%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.bordaImagens:hover {
    transform: scale(1.1);
    transition: 1s;
}